/* app css stylesheet */

.big-table {
    width: 100%;
}

.big-table td {
    border: 20px solid white;
    height: 180px;
    text-align: center;
    background-color: #ddd;
}

.third {
    width: 33%;
}

.two-thirds {
    width: 66%;
}
